/************************************************************************
 * Global styles */

body,
table,
input,
select,
textarea {
    font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
}

.txtmuted {
    color: #AAA;
}

.page {
    max-width: 1024px;
}

/************************************************************************
 * Links */

a,
a:visited {
    text-decoration: underline;
    color: inherit;
}

a:hover,
a:focus {
    text-decoration: none;
    outline: none;
}

/************************************************************************
 * Alerts */

.alert {
    border-radius: 0.5rem;
    border: 0.1rem solid;
}

.alert a,
.alert a:visited,
.alert a:hover,
.alert a:focus {
    color: inherit;
}

.alert.success {
    background-color: #6ead4f;
    color: #FFF;
    border-color: #187B00;
}

.alert.error {
    background-color: #dd3b3b;
    color: #FFF;
    border-color: #AB1111;
}

.alert.info {
    background-color: #3493FE;
    color: #FFF;
    border-color: #345FDA;
}

/************************************************************************
 * Header */

header a {
    text-decoration: none;
    color: inherit;
}

header a:hover {
    color: inherit;
    text-decoration: none;
}

/************************************************************************
 * Tables */
 
.table-responsive {
    overflow-x: auto;
}

table,
table td,
table th {
    border: 0.1rem solid #ccc;
    table-layout: auto;
}

table th {
    background-color: #e0e0e0;
}

table tr:nth-child(even) td {
    background-color: #F5F6FF;
}
