{% extends 'layout.html' %}

{% block content %}
    <p class="txtcenter">This page lists all the <a href="https://github.com/EpocDotFr/connectfour">Connect Four</a> online games.</p>

    {% if games %}
        <table class="wauto center mbn">
            <thead>
                <tr>
                    <th>Name</th>
                    <th>IP</th>
                    <th>Status</th>
                    <th>Created</th>
                </tr>
            </thead>
            <tbody>
                {% for game in games %}
                <tr>
                    <td>{{ game.name }}</td>
                    <td>{{ game.ip }}<br><small>({% if game.location %}{{ game.location }}{% else %}Location unknown{% endif %})</small></td>
                    <td>{{ game.status_text }}{% if game.status.value != 'WAITING' %}<br><small>{% if game.status.value == 'PLAYING' %}{{ game.started_at.humanize() }}{% elif game.status.value == 'FINISHED' %}{{ game.finished_at.humanize() }}{% endif %}</small>{% endif %}</td>
                    <td>{{ game.created_at.humanize() }}<br><small>{{ game.created_at.format() }}</small></td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    {% else %}
        <p class="alert info pas">No games to display at this moment.</p>
    {% endif %}
{% endblock %}