<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="robots" content="noindex,nofollow,noarchive"/>

    <title>{% block meta_title %}{% endblock %}{% if self.meta_title() | trim %} • {% endif %}Connect Four Games</title>

    <link rel="stylesheet" href="https://cdn.rawgit.com/alsacreations/KNACSS/6.1.0/css/knacss.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/app.css') }}">

    <link rel="icon" type="image/png" href="{{ url_for('static', filename='favicon.png') }}" />
    <link rel="shortcut icon" href="{{ url_for('static', filename='favicon.ico') }}" />
</head>
<body class="man pas">
    <header class="pls prs pbs txtcenter">
        <a href="{{ url_for('home') }}" class="biggest"><img src="{{ url_for('static', filename='images/logo.png') }}"> Connect Four Games</a>
    </header>

    <div class="pas center page">
        {% with flash_messages = get_flashed_messages(with_categories=true) %}
          {% if flash_messages %}
            {% for category, message in flash_messages %}
              <p class="alert {{ category }} pas">{{ message }}</p>
            {% endfor %}
          {% endif %}
        {% endwith %}

        {% block content %} {% endblock %}
    </div>

    <footer class="txtmuted txtcenter small pas">
        © 2017 <a href="https://epoc.fr">Maxime "Epoc" G.</a> • <a href="https://github.com/EpocDotFr/connectfour-master-server">Source code on GitHub</a> • Licensed under the <a href="https://github.com/EpocDotFr/connectfour-master-server/blob/master/LICENSE.md">DBAD</a><br>
        Connect Four™ is a trademark of Milton Bradley / Hasbro. This project isn't supported nor endorsed by Milton Bradley / Hasbro
    </footer>
</body>
</html>